/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1, h2, h3, h4, tr, th, td, p {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}
.error_box {
    font-style: #ff4c4c;
}

.main_title {
    color: #605C5C;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_title:hover {
    color: #A4C6E0;
}

.memory_title {
    style: bold;
}

.main_content {
    height: 400px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
    display: flex;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
}

table {
}

.navbar {
    padding-left: 20px;
    padding-top: 30px;
    position: relative;
    align: left;
}

.memory_block {
    border: 1px;
    margin: 5px;
    padding: 10px;
}

.content_block {
    width: 400px;
    overflow: auto;
}

.memory_title {
    font-style: bold;
}

.nav_button {
    border: none;
    margin: 2px;
    width: 150px;
    padding: 2px 3px 2px 3px;
}
.nav_button:hover{
    background-color: #b6b6b6;
}

.submit_button {
    border: none;
    width: 90px;
}

.delete_button {
    border: none;
    width: 90px;
    color: #fff;
    background-color: #ef7465;
}

.delete_button:hover {
    background-color: #d7685a;
}

.submit_button {
    border: none;
    width: 120px;
    color: #fff;
    background-color: #85CC85;
}

.submit_button:hover {
    background-color: #77b777;
}

.redirect_button {
    border: none;
    width: 90px;
}
.redirect_button:hover {
    background-color: #b6b6b6;
}

.text_area {
    width: 400px;
    height: 200px;
}

.title_field {
    width: 400px;
}

.align_element {
    display: inline-block;
    align: left;
}
